.git
.idea
.vscode
.DS_Store
npm-debug.log*
yarn-error.log
yarn.lock
*bak
.history
*.log
.temp/**
.umi
.umi-production
screenshot
.firebase
logs
yarn-debug.log*
yarn-error.log*
pids
*.pid
*.seed
*.pid.lock

/build
/node_modules
/out
/public
/scripts
/src
/types
.dockerignore
.drone.yml
.editorconfig
.gitignore
babel.config.js
Dockerfile
drone-email.html
jsconfig.json
package.json
tsconfig.json
