/* --------------------------------------------------------------------------------------------------------------------- Spin组件自定义样式 */
.spinWrapper {
  height: 100%;

  :global(.ant-spin-container) {
    height: 100%;
  }

  :global(.ant-spin.ant-spin-spinning) {
    max-height: unset;
  }

  :global(.amis-scope) {
    background-color: #ffffff;
    overflow: visible;
  }
}

/* --------------------------------------------------------------------------------------------------------------------- 自定义滚动条样式 */
.simpleBar {
  height: 100%;
  width: 100%;
}

/* --------------------------------------------------------------------------------------------------------------------- 页面内容区域 */
.pageContent {
  //min-width: 1000px;
}
