/* --------------------------------------------------------------------------------------------------------------------- 修改amis默认样式 */

html {
  font-size: 0.925rem;
}

.a-Button.a-Button--xs {
  font-size: 0.6rem;
}

.amis-scope .a-Checkbox--checkbox > i {
  width: 1.1rem;
  height: 1.1rem;
}

.amis-scope .a-Checkbox--full.a-Checkbox--checkbox input:checked + i:before {
  width: 0.7rem;
  height: 0.3rem;
}

.amis-scope .a-Crud-pageSwitch .a-Select {
  height: 1.875rem;
  min-height: 1.875rem;;
  line-height: 1.4285714286;
}

.amis-scope .a-Crud-pageSwitch .a-Select .a-Select-valueWrap {
  top: -0.0625rem;
}

.amis-scope .a-Crud-pageSwitch .a-Select .a-Select-arrow > svg {
  top: 0.125em;
}

/* --------------------------------------------------------------------------------------------------------------------- 常规使用样式 */

.global-inline-block {
  display: inline-block !important;
}

/* --------------------------------------------------------------------------------------------------------------------- 固定宽度 */
.global-width-full {
  width: 100% !important;
}

.global-width-unset {
  width: unset !important;
}

.global-width-1x {
  width: 1rem !important;
}

.global-width-2x {
  width: 2rem !important;
}

.global-width-3x {
  width: 3rem !important;
}

.global-width-4x {
  width: 4rem !important;
}

.global-width-5x {
  width: 5rem !important;
}

.global-width-6x {
  width: 6rem !important;
}

.global-width-7x {
  width: 7rem !important;
}

.global-width-8x {
  width: 8rem !important;
}

.global-width-9x {
  width: 9rem !important;
}

.global-width-10x {
  width: 10rem !important;
}

.global-width-11x {
  width: 11rem !important;
}

.global-width-12x {
  width: 12rem !important;
}

.global-width-13x {
  width: 13rem !important;
}

.global-width-14x {
  width: 14rem !important;
}

.global-width-15x {
  width: 15rem !important;
}

.global-width-16x {
  width: 16rem !important;
}

.global-width-17x {
  width: 17rem !important;
}

.global-width-18x {
  width: 18rem !important;
}

.global-width-19x {
  width: 19rem !important;
}

.global-width-20x {
  width: 20rem !important;
}

.global-width-21x {
  width: 21rem !important;
}

.global-width-22x {
  width: 22rem !important;
}

.global-width-23x {
  width: 23rem !important;
}

.global-width-24x {
  width: 24rem !important;
}

.global-width-25x {
  width: 25rem !important;
}

.global-width-26x {
  width: 26rem !important;
}

.global-width-27x {
  width: 27rem !important;
}

.global-width-28x {
  width: 28rem !important;
}

.global-width-29x {
  width: 29rem !important;
}

.global-width-30x {
  width: 30rem !important;
}

.global-width-31x {
  width: 31rem !important;
}

.global-width-32x {
  width: 32rem !important;
}

.global-width-33x {
  width: 33rem !important;
}

.global-width-34x {
  width: 34rem !important;
}

.global-width-35x {
  width: 35rem !important;
}

.global-width-36x {
  width: 36rem !important;
}

.global-width-37x {
  width: 37rem !important;
}

.global-width-38x {
  width: 38rem !important;
}

.global-width-39x {
  width: 39rem !important;
}

.global-width-40x {
  width: 40rem !important;
}

.global-width-41x {
  width: 41rem !important;
}

.global-width-42x {
  width: 42rem !important;
}

.global-width-43x {
  width: 43rem !important;
}

.global-width-44x {
  width: 44rem !important;
}

.global-width-45x {
  width: 45rem !important;
}

.global-width-46x {
  width: 46rem !important;
}

.global-width-47x {
  width: 47rem !important;
}

.global-width-48x {
  width: 48rem !important;
}

/* --------------------------------------------------------------------------------------------------------------------- 固定高度 */
.global-height-full {
  height: 100% !important;
}

.global-height-unset {
  height: unset !important;
}

.global-height-1x {
  height: 1rem !important;
}

.global-height-2x {
  height: 2rem !important;
}

.global-height-3x {
  height: 3rem !important;
}

.global-height-4x {
  height: 4rem !important;
}

.global-height-5x {
  height: 5rem !important;
}

.global-height-6x {
  height: 6rem !important;
}

.global-height-7x {
  height: 7rem !important;
}

.global-height-8x {
  height: 8rem !important;
}

.global-height-9x {
  height: 9rem !important;
}

.global-height-10x {
  height: 10rem !important;
}

.global-height-11x {
  height: 11rem !important;
}

.global-height-12x {
  height: 12rem !important;
}

.global-height-13x {
  height: 13rem !important;
}

.global-height-14x {
  height: 14rem !important;
}

.global-height-15x {
  height: 15rem !important;
}

.global-height-16x {
  height: 16rem !important;
}

.global-height-17x {
  height: 17rem !important;
}

.global-height-18x {
  height: 18rem !important;
}

.global-height-19x {
  height: 19rem !important;
}

.global-height-20x {
  height: 20rem !important;
}

.global-height-21x {
  height: 21rem !important;
}

.global-height-22x {
  height: 22rem !important;
}

.global-height-23x {
  height: 23rem !important;
}

.global-height-24x {
  height: 24rem !important;
}

/* --------------------------------------------------------------------------------------------------------------------- Page页面输入组件样式 */


/* --------------------------------------------------------------------------------------------------------------------- Form表单输入组件样式 */

/*-- label宽度为2rem --*/
.form-label-2x .a-Form-item .a-Form-label {
  width: 2rem;
  text-align: right;
}

/*-- label宽度为4rem --*/
.form-label-4x .a-Form-item .a-Form-label {
  width: 4rem;
  text-align: right;
}

/*-- label宽度为6rem --*/
.form-label-6x .a-Form-item .a-Form-label {
  width: 6rem;
  text-align: right;
}

/*-- label宽度为8rem --*/
.form-label-8x .a-Form-item .a-Form-label {
  width: 8rem;
  text-align: right;
}

/*-- label宽度为10rem --*/
.form-label-10x .a-Form-item .a-Form-label {
  width: 10rem;
  text-align: right;
}

/*-- input宽度为10rem --*/
.form-input-10x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  min-width: 10rem;
  width: 10rem;
}

/*-- input宽度为12rem --*/
.form-input-12x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  min-width: 12rem;
  width: 12rem;
}

/*-- input宽度为10rem --*/
.form-input-14x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  min-width: 14rem;
  width: 14rem;
}

/*-- input宽度为16rem --*/
.form-input-16x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 16rem;
}

/*-- input宽度为18rem --*/
.form-input-18x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 18rem;
}

/*-- input宽度为20rem --*/
.form-input-20x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 20rem;
}

/*-- input宽度为22rem --*/
.form-input-22x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 22rem;
}

/*-- input宽度为24rem --*/
.form-input-24x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 24rem;
}

/*-- input宽度为26rem --*/
.form-input-26x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 26rem;
}

/*-- input宽度为28rem --*/
.form-input-28x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 28rem;
}

/*-- input宽度为30rem --*/
.form-input-30x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 30rem;
}

/*-- input宽度为32rem --*/
.form-input-32x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 32rem;
}

/*-- flex label宽度为2rem --*/
.flex-form-label-2x .a-Form-item .a-Form-label {
  flex-basis: 2rem;
  max-width: 2rem;
}

/*-- flex label宽度为3rem --*/
.flex-form-label-3x .a-Form-item .a-Form-label {
  flex-basis: 3rem;
  max-width: 3rem;
}

/*-- flex label宽度为4rem --*/
.flex-form-label-4x .a-Form-item .a-Form-label {
  flex-basis: 4rem;
  max-width: 4rem;
}

/*-- flex label宽度为5rem --*/
.flex-form-label-5x .a-Form-item .a-Form-label {
  flex-basis: 5rem;
  max-width: 5rem;
}

/*-- flex label宽度为6rem --*/
.flex-form-label-6x .a-Form-item .a-Form-label {
  flex-basis: 6rem;
  max-width: 6rem;
}

/*-- flex label宽度为7rem --*/
.flex-form-label-6x .a-Form-item .a-Form-label {
  flex-basis: 7rem;
  max-width: 7rem;
}

/*-- flex label宽度为8rem --*/
.flex-form-label-8x .a-Form-item .a-Form-label {
  flex-basis: 8rem;
  max-width: 8rem;
}

/*-- flex label宽度为9rem --*/
.flex-form-label-9x .a-Form-item .a-Form-label {
  flex-basis: 9rem;
  max-width: 9rem;
}

/*-- flex label宽度为10rem --*/
.flex-form-label-10x .a-Form-item .a-Form-label {
  flex-basis: 10rem;
  max-width: 10rem;
}

/*-- input宽度为10rem --*/
.flex-form-input-10x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 10rem;
}

/*-- input宽度为12rem --*/
.flex-form-input-12x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 12rem;
}

/*-- input宽度为14rem --*/
.flex-form-input-14x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 14rem;
}

/*-- input宽度为16rem --*/
.flex-form-input-16x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 16rem;
}

/*-- input宽度为18rem --*/
.flex-form-input-18x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 18rem;
}

/*-- input宽度为20rem --*/
.flex-form-input-20x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 20rem;
}

/*-- input宽度为22rem --*/
.flex-form-input-22x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 22rem;
}

/*-- input宽度为24rem --*/
.flex-form-input-24x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 24rem;
}

/*-- input宽度为26rem --*/
.flex-form-input-26x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 26rem;
}

/*-- input宽度为28rem --*/
.flex-form-input-28x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 28rem;
}

/*-- input宽度为30rem --*/
.flex-form-input-30x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 30rem;
}

/*-- input宽度为32rem --*/
.flex-form-input-32x .a-Form-item .a-Form-value .a-Form-control:not(.a-Button) {
  width: 32rem;
}

.form-item-height-2_5x .a-Form-item {
  height: 2.5rem;
}

.form-item-height-3_5x .a-Form-item {
  height: 3.5rem;
}

/* --------------------------------------------------------------------------------------------------------------------- Dialog表单输入组件样式 */
.dialog-width-10x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 10rem;
  min-width: 10rem;
  max-width: 10rem;
}

.dialog-width-15x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 15rem;
  min-width: 15rem;
  max-width: 15rem;
}

.dialog-width-20x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 20rem;
  min-width: 20rem;
  max-width: 20rem;
}

.dialog-width-25x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 25rem;
  min-width: 25rem;
  max-width: 25rem;
}

.dialog-width-30x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 30rem;
  min-width: 30rem;
  max-width: 30rem;
}

.dialog-width-35x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 35rem;
  min-width: 35rem;
  max-width: 35rem;
}

.dialog-width-40x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 40rem;
  min-width: 40rem;
  max-width: 40rem;
}

.dialog-width-45x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 45rem;
  min-width: 45rem;
  max-width: 45rem;
}

.dialog-width-50x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 50rem;
  min-width: 50rem;
  max-width: 50rem;
}

.dialog-width-55x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 55rem;
  min-width: 55rem;
  max-width: 55rem;
}

.dialog-width-60x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 60rem;
  min-width: 60rem;
  max-width: 60rem;
}

.dialog-width-65x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 65rem;
  min-width: 65rem;
  max-width: 65rem;
}

.dialog-width-70x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 70rem;
  min-width: 70rem;
  max-width: 70rem;
}

.dialog-width-75x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 75rem;
  min-width: 75rem;
  max-width: 75rem;
}

.dialog-width-80x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 80rem;
  min-width: 80rem;
  max-width: 80rem;
}

.dialog-width-85x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 85rem;
  min-width: 85rem;
  max-width: 85rem;
}

.dialog-width-90x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 90rem;
  min-width: 90rem;
  max-width: 90rem;
}

.dialog-width-95x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 95rem;
  min-width: 95rem;
  max-width: 95rem;
}

.dialog-width-100x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 100rem;
  min-width: 100rem;
  max-width: 100rem;
}

.dialog-width-105x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 105rem;
  min-width: 105rem;
  max-width: 105rem;
}

.dialog-width-110x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 110rem;
  min-width: 110rem;
  max-width: 110rem;
}

.dialog-width-115x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 115rem;
  min-width: 115rem;
  max-width: 115rem;
}

.dialog-width-120x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 120rem;
  min-width: 120rem;
  max-width: 120rem;
}

.dialog-width-125x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 125rem;
  min-width: 125rem;
  max-width: 125rem;
}

.dialog-width-130x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 130rem;
  min-width: 130rem;
  max-width: 130rem;
}

.dialog-width-135x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 135rem;
  min-width: 135rem;
  max-width: 135rem;
}

.dialog-width-140x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 140rem;
  min-width: 140rem;
  max-width: 140rem;
}

.dialog-width-145x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 145rem;
  min-width: 145rem;
  max-width: 145rem;
}

.dialog-width-150x.amis-dialog-widget.a-Modal .a-Modal-content.in {
  width: 150rem;
  min-width: 150rem;
  max-width: 150rem;
}
