/* --------------------------------------------------------------------------------------------------------------------- 多页签样式 */
.tabs {
  width: 100%;
  height: 100%;
  border: none;

  // 多页签页签导航部分
  :global(.rc-tabs-nav) {
    height: 40px;
    // 多页签页签导航部分 - wrap
    :global(.rc-tabs-nav-wrap) {
      :global(.rc-tabs-nav-list) {
        // 页签项 - 导航
        :global(.rc-tabs-tab) {
          margin: 0 4px;
          min-width: 64px;

          :global(.rc-tabs-tab-btn) {
            &:focus {
              outline: none;
            }
          }
        }

        // 页签项 - 活动导航
        :global(.rc-tabs-tab-active) {

        }
      }
    }
  }

  // 多页签内容 - holder
  :global(.rc-tabs-content-holder) {
    width: 100%;
    height: 100%;

    &:focus {
      outline: none;
    }

    // 多页签内容
    :global(.rc-tabs-content) {
      width: 100%;
      height: 100%;

      &:focus {
        outline: none;
      }

      // 页签项 - 内容
      :global(.rc-tabs-tabpane) {
        &:focus {
          outline: none;
        }

        :global(.amis-scope) {
          overflow: visible;
        }
      }

      // 页签项 - 活动内容
      :global(.rc-tabs-tabpane-active) {

      }
    }
  }
}

/* --------------------------------------------------------------------------------------------------------------------- 自定义滚动条样式 */
.simpleBar {
  height: 100%;
  width: 100%;

  :global {
    // 垂直滚动区域
    .simplebar-track.simplebar-vertical {
      width: 8px;
      // 滚动轴
      .simplebar-scrollbar::before {
        background: rgba(0, 0, 0, 0.45);
        border-radius: 4px;
        opacity: 1;
      }
    }

    // 水平滚动区域
    .simplebar-track.simplebar-horizontal {
      height: 9px;
      // 滚动轴
      .simplebar-scrollbar {
        height: 5px;

        &::before {
          background: rgba(0, 0, 0, 0.45);
          border-radius: 4px;
          opacity: 1;
        }
      }
    }
  }
}
