<!doctype html>
<html lang="en">
<head>
    <% var opts = htmlWebpackPlugin.options; %>
    <meta charset="UTF-8">
    <title><%= opts.title %></title>
</head>
<body>
<div id="root"></div>
</body>
</html>
